# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Virtual environment
venv/
env/

# Environment variables
.env

# SQLite database
instance/*.db
# Database
*.db

# IDE
.idea/
.vscode/

# OS
.DS_Store
